<div class="userPage">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <table class="userTable">
      <tbody>
        <tr>
          <td class="coll">User name or email</td>
          <td class="colr"><%= f.text_field :login, :class=>"user-txt" %></td>
        </tr>
        <tr>
          <td class="coll">Password</td>
          <td class="colr"><%= f.password_field :password, :class=>"user-txt" %></td>
        </tr>
        <tr>
          <td class="coll">&nbsp;</td>
          <td class="colr">
            <div class="links"><span class="cur borderl0"><%= f.check_box :remember_me, :class=>"user-check" %>Remember me on this computer</span>
              <%=link_to "Forgot your password?", "#" %>
            </div><br clear="all" />
            <%= f.submit "Sign in", :class=>"login-btn" %>    
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
