<div class="welcome">
  <h2 class="jjSligon">Record thoughts immediately</h2>
  <h3 class="jjDesc">immedr help you turning web information into Knowledge</h3>
  <div class="jjDragBar">
    <%= link_to "immedr", render("share/bookmarklet_bootstrap", :path => "/bookmarklets/jijing_bookmarklet"), :class => "grab", :title=>"immedr" %>
    <p>Drag and drop the immedr bookmarklet onto your browser. <br />
      Write down your thoughts while you are viewing webpages.</p>
  </div>
  <div class="userList">
    <h5>active immedrs</h5>
    <ul class="homeUserlist">
      <li><%=link_to image_tag("usericon11-72.png", :alt=>"张小陌"), posts_url %></li>
      <li><%=link_to image_tag("usericon10-72.png", :alt=>"麦夕林"), posts_url %></li>
      <li><%=link_to image_tag("usericon8-72.png", :alt=>"黄小油"), posts_url %></li>
      <li><%=link_to image_tag("usericon2-72.png", :alt=>"安柏都"), posts_url %></li>
      <li><%=link_to image_tag("usericon9-72.png", :alt=>"李梦梦"), posts_url %></li>
      <li><%=link_to image_tag("usericon12-72.png", :alt=>"张业"), posts_url %></li>
    </ul><br clear="all" />
  </div>
</div>
